/* font links */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

	/*common start */

	body{
		margin: 0;
		font-family:"Playfair Display", serif;
		font-size: 16px;
		font-weight: 400;
		color: #626262;
	}
	/*common end */

	/*header start */
	header{
		padding: 30px 0;
/*		border: 1px solid;*/
	}
	.container{
		overflow: hidden;
		margin: 0 auto;
		width: 90%;
/*		border: 1px solid;*/
	}
	.logo{
		margin-top: 10px;
		float: left;
		width: 12%;
	}
	.logo a img{
		width: 100%;
	}
	.menu{
		float: right;
		width: 65%;
	}
	.menu ul{
		float: right;
		list-style: none;
}	
	.menu ul li{
		float: left;
	}
	.menu ul li a{
		display: inline-block;
		margin: 0 55px;
		color: #626262;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid transparent;
		transition: .33s linear;
	}

	.menu ul li:last-child a{
		margin-right: 0;
	}

	.menu ul li a:hover{
		border-bottom: 1px solid #626262;
	}
	/*header end   */
	/* banner start */
 	.banner{}
 	.b_img{}
 	.b_img img{
 		width: 100%;
 	}
	/* banner end */
	/* getaway start */
	.getaway{
		padding: 100px 0 30px;
	}
	.container2{
		margin: 0 auto;
		width: 80%;
	}
	.g_content{}
	.light{
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
	}
	.title{
		margin: 15px 0 25px;
		font-size: 30px;
		font-weight: 400;
	}
	.text{
		margin: 0;
		line-height: 24px;
	}
	.g_link{
		margin-top: 40px;
		display: block;
		text-decoration: none;
		color: #626262;
	}
	/* getaway end */
	/* blog start */
	.blog{
		padding: 0 0 100px;
	}
	.bl_content{
	  	overflow: hidden;
	}
	.bl_item{
		margin-top: 70px;
		float: left;
		width: 45%;
/*		border: 1px solid;*/
 		box-sizing: border-box;
	}
	.bl_item:nth-child(even){
		margin-left: 6%;
	}
	.bl_img{
		margin-bottom: 20px;
	}
	.bl_img img{
		width: 100%;
	}

	/* blog end 

/* newsletetr start */
.newsletter{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
/*	border: 5px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	 background: transparent;
	 border: none;
	 cursor: pointer; 
	 top: 15px;
	 right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/* newsletetr end */

/*blog2 Start*/
.blog2{}
.load{
/*	margin: 100px 0;*/
/*	margin: 150px 0 50px;*/
	text-align: center;
}
.load button{
	width: 165px;
	height: 60px;
	background-color: white;
	border: 1px solid #626262;
	font-family:"Playfair Display", serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	transition: .33s linear;
}
.load button:hover{
	background-color: #626262;
	color: white;
}
/*blog2 end*/

/*footer start */
footer{
	padding: 30px 0;
	background-color: #f0f0f0 ;
/*	border: 1px solid;*/
	}
/*.footer-menu{}*/
.pages{}
.pages ul{
	float: left;
}
.pages ul li{
	display: inline-block;
	list-style: none;
	margin: 5px;
}
.pages ul li a{
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: black;
	width: 345px;
}
.pages ul li a:hover{}

.social{}
.social  ul{
	float: right;
}
.social  ul li{
	display: inline-block;
	margin: 5px;

}
.social  ul li span{
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: black;
	width: 300px;
}
.social  ul li a{
/*	display: inline-block;*/

}
.social  ul li a:hover{}
/*footer end*/